.input {
  display: block;
  width: 100%;
  padding: 0.625rem 1rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.125rem;
  color: var(--color-black);
  line-height: 1.75;
  border-radius: 0.25rem;
  border-style: solid;
  border: 0.125rem solid var(--color-grey--semi);
  background-color: var(--white);
}

.input:disabled {
  background-color: var(--color-grey--semi);
  border-color: var(--color-grey--base);
  cursor: not-allowed;
}

.input:focus {
  border-color: #4688f1;
}

.input.error {
  border-color: var(--color-error);
}

.input.noBorder {
  border-color: transparent;
}

.assistiveText {
  margin-top: 0.25rem;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: var(--color-grey--base);
  line-height: 1.6;
}

.assistiveText.error {
  color: var(--color-error);
}
